templates/_includes/_category-header.jade
header.u-max-xl.js-menu-close
    | {% for asset in category.headerImage.limit(1).all() %}
    .header-container.u-relative.u-background(style="background-image: url('{{asset.url}}')" class="reduce-header-size")
        .header-nav
            .u-flex.u-flex.u-flex__space.u-flex-column.white-text                
                a(href="#/" data-effect='st-effect-1').blue-stripe-bg#js-mobile-menu-btn
                    .js-menu-btn.u-abs.u-abs__center
                        .hamburgerWrapper 
                            .hamburger                  
                a(href="{{siteUrl}}primary-school").blue-stripe-bg 
                    p.header-nav-text Primary
                a(href="{{siteUrl}}secondary-school").light-blue-bg
                    p.header-nav-text Secondary
                a(href="{{siteUrl}}contact/").dark-blue-bg
                    p.header-nav-text Contact
        .u-max-l.u-relative
            a(href="{{siteUrl}}")
                img(src="{{siteUrl}}build/images/logo.svg").u-logo
    | {% endfor %}

templates/_includes/_category-header.html
<header class="u-max-xl js-menu-close">{% for asset in category.headerImage.limit(1).all() %}<div style="background-image: url('{{asset.url}}')" class="header-container u-relative u-background reduce-header-size"><div class="header-nav"><div class="u-flex u-flex u-flex__space u-flex-column white-text">               <a href="#/" data-effect="st-effect-1" id="js-mobile-menu-btn" class="blue-stripe-bg"><div class="js-menu-btn u-abs u-abs__center"><div class="hamburgerWrapper"> <div class="hamburger">                 </div></div></div></a><a href="{{siteUrl}}primary-school" class="blue-stripe-bg"> <p class="header-nav-text">Primary</p></a><a href="{{siteUrl}}secondary-school" class="light-blue-bg"><p class="header-nav-text">Secondary</p></a><a href="{{siteUrl}}contact/" class="dark-blue-bg"><p class="header-nav-text">Contact</p></a></div></div><div class="u-max-l u-relative"><a href="{{siteUrl}}"><img src="{{siteUrl}}build/images/logo.svg" class="u-logo"/></a></div></div>{% endfor %}</header>
