templates/_includes/_downloads.jade
section.u-max-xl.js-menu-close.u-relative(class="{% if pC.outerMarginTop %}u-padding-top-l{% endif %}{%if pC.outerMarginBottom%} u-padding-bottom-l{% endif %}")
    .light-grey-bg
      
        .u-padding-l.u-padding-remove-right.u-padding-remove-left.u-relative(class="{% if not pC.bottomPadding%} u-padding-remove-bottom{% endif %}")
            div(class="{% if pC.topPadding %}u-padding-top-l{% endif %} {% if pC.bottomPadding%} u-padding-bottom{% endif%}")
                .row
                    .col.col--2-of-5
                        .imageLinkTextPositioning.footerImageLinkTextPositioning.u-padding-remove-top
                            .u-padding-top
                                img(src="{{siteUrl}}build/images/cards-stripe.svg").card-stripe
                                | {% if pC.header | length %}
                                h2.blue-text.u-margin-top.u-margin-bottom {{pC.header}}
                                | {% endif %}
                                | {% if pC.subText %}
                                .font-medium.freight-text.blue-text {{pC.subText}}
                                | {% endif %}
                                .u-margin-top
                                    | {% for downloads in pC.downloads.all() %}
                                    .u-padding-top-s.u-padding-bottom-s.border-top-blue.u-relative.border-bottom-hover(class="{% if loop.last %} border-bottom-blue{% endif %}") 
                                        .u-flex.u-flex__space
                                            a(href="{{downloads.url}}" target="_blank") {{downloads.title}}
                                            a(href="{{downloads.url}}" target="_blank") Download
                                            
                                    | {% endfor %}
                    .col.col--3-of-5
                        .image-link-image.u-background(style="background-image: url('{% for asset in pC.image.all() %}{{asset.url}}{% endfor %}')")                     
                    

templates/_includes/_downloads.html
<section class="u-max-xl js-menu-close u-relative {% if pC.outerMarginTop %}u-padding-top-l{% endif %}{%if pC.outerMarginBottom%} u-padding-bottom-l{% endif %}"><div class="light-grey-bg"><div class="u-padding-l u-padding-remove-right u-padding-remove-left u-relative {% if not pC.bottomPadding%} u-padding-remove-bottom{% endif %}"><div class="{% if pC.topPadding %}u-padding-top-l{% endif %} {% if pC.bottomPadding%} u-padding-bottom{% endif%}"><div class="row"><div class="col col--2-of-5"><div class="imageLinkTextPositioning footerImageLinkTextPositioning u-padding-remove-top"><div class="u-padding-top"><img src="{{siteUrl}}build/images/cards-stripe.svg" class="card-stripe"/>{% if pC.header | length %}<h2 class="blue-text u-margin-top u-margin-bottom">{{pC.header}}</h2>{% endif %}
{% if pC.subText %}<div class="font-medium freight-text blue-text">{{pC.subText}}</div>{% endif %}<div class="u-margin-top">{% for downloads in pC.downloads.all() %}<div class="u-padding-top-s u-padding-bottom-s border-top-blue u-relative border-bottom-hover {% if loop.last %} border-bottom-blue{% endif %}"> <div class="u-flex u-flex__space"><a href="{{downloads.url}}" target="_blank">{{downloads.title}}</a><a href="{{downloads.url}}" target="_blank">Download</a></div></div>{% endfor %}</div></div></div></div><div class="col col--3-of-5"><div style="background-image: url('{% for asset in pC.image.all() %}{{asset.url}}{% endfor %}')" class="image-link-image u-background">                    </div></div></div></div></div></div></section>
