templates/_includes/_mobile-menu.jade

#js-menu-container
    nav#mobile-menu-content.st-menu.st-effect-1
        .top-area
            .close-btn.js-menu-close
                .js-menu-btn.u-abs.u-abs__center
                        .hamburgerWrapper.hamburgerWrapperMobileMenu
                            .hamburger  
            .mobile-menu-spinner
                | {% include '_includes/_spinner/_spinnerLogo2.svg' %}
        ul
            li
                a.icon.icon-data(href='{{ siteUrl }}') Home
            li
                a.icon.icon-data(href='{{ siteUrl }}primary-school') Primary School
            li
                a.icon.icon-location(href='{{ siteUrl }}secondary-school') Secondary School 
            li
                a.icon.icon-location(href='{{ siteUrl }}contact') Contact

templates/_includes/_mobile-menu.html
<div id="js-menu-container"><nav id="mobile-menu-content" class="st-menu st-effect-1"><div class="top-area"><div class="close-btn js-menu-close"><div class="js-menu-btn u-abs u-abs__center"><div class="hamburgerWrapper hamburgerWrapperMobileMenu"><div class="hamburger"> </div></div></div></div><div class="mobile-menu-spinner">{% include '_includes/_spinner/_spinnerLogo2.svg' %}</div></div><ul><li><a href="{{ siteUrl }}" class="icon icon-data">Home</a></li><li><a href="{{ siteUrl }}primary-school" class="icon icon-data">Primary School</a></li><li><a href="{{ siteUrl }}secondary-school" class="icon icon-location">Secondary School </a></li><li><a href="{{ siteUrl }}contact" class="icon icon-location">Contact</a></li></ul></nav></div>
