templates/_includes/_page-footer.html
<footer class="light-grey-bg"><div class="u-max-l u-padding-top-l"><!--.u-margin-top--><div class="u-padding u-margin-bottom"><div class="row"><div class="col col--1-of-3 u-text-right p-remove-margin vm"><p class="bold">Secondary School - West</p>{% if contact.secondarySchool | length %}
{% for secondary in contact.secondarySchool.all() %}<div class="u-margin-top-s u-margin-bottom-s">{{secondary.address | default ('Lorem Ipsum')}}</div><a href="tel:{{secondary.telephoneOne|replace({' ': ''})}}" class="u-block">{{secondary.telephoneOne }}</a><a href="tel:{{secondary.telephoneTwo|replace({' ': ''})}}" class="u-block u-margin-bottom-s">{{secondary.telephoneTwo }}</a><a href="mailto:{{secondary.email}}">{{secondary.email}}</a>{% endfor %}
{% endif %}</div><div class="col col--1-of-3 footer-spinner vm u-text-center">{% include '_includes/_spinner/_spinnerLogo2.svg' %}</div><div class="col col--1-of-3 p-remove-margin vm"> <p class="bold">Primary School - East</p>{% if contact.primarySchool | length %}
{% for primary in contact.primarySchool.all() %}<div class="u-margin-top-s u-margin-bottom-s">{{primary.address | default ('Lorem Ipsum')}}</div><a href="tel:{{primary.telephoneOne|replace({' ': ''})}}" class="u-block">{{primary.telephoneOne }}</a><a href="tel:{{primary.telephoneTwo|replace({' ': ''})}}" class="u-block u-margin-bottom-s">{{primary.telephoneTwo }}</a><a href="mailto:{{primary.email}}">{{primary.email}}</a>{% endfor %}
{% endif %}</div></div></div></div><div class="u-max-m heavy-top-border"><div class="u-padding u-padding-remove-left u-padding-remove-right"><div class="u-flex u-flex__space u-flex__align-center footer-bottom"><p>{{ 'now' | date('Y') }} Mont a l’Abbe School</p><div class="social-links">{% if contact.twitter | length %}<a href="{{contact.twitter}}"><img src="{{siteUrl}}build/images/twitter.svg"/></a>{% endif %}
{% if contact.instagram |length %}<a href="{{contact.instagram}}"><img src="{{siteUrl}}build/images/instagram.svg"/></a>{% endif %}
{% if contact.facebook |length %}<a href="{{contact.facebook}}"><img src="{{siteUrl}}build/images/facebook.svg"/></a>{% endif %}</div><div class="footer-right"><a href="" class="u-margin-right-s">Lorem Ipsum</a><a href="">Lorem Ipsum</a></div></div></div></div></footer>

templates/_includes/_page-footer.jade
footer.light-grey-bg
    .u-max-l.u-padding-top-l
        //.u-margin-top
        .u-padding.u-margin-bottom
            .row
                .col.col--1-of-3.u-text-right.p-remove-margin.vm
                    p.bold Secondary School - West
                    | {% if contact.secondarySchool | length %}
                    | {% for secondary in contact.secondarySchool.all() %}
                    .u-margin-top-s.u-margin-bottom-s {{secondary.address | default ('Lorem Ipsum')}}
                    a(href="tel:{{secondary.telephoneOne|replace({' ': ''})}}").u-block {{secondary.telephoneOne }}
                    a(href="tel:{{secondary.telephoneTwo|replace({' ': ''})}}").u-block.u-margin-bottom-s {{secondary.telephoneTwo }}
                    a(href="mailto:{{secondary.email}}") {{secondary.email}}
                    | {% endfor %}
                    | {% endif %}
               
                .col.col--1-of-3.footer-spinner.vm.u-text-center
                    | {% include '_includes/_spinner/_spinnerLogo2.svg' %}
            
                .col.col--1-of-3.p-remove-margin.vm 
                    p.bold Primary School - East
                    | {% if contact.primarySchool | length %}
                    | {% for primary in contact.primarySchool.all() %}
                    .u-margin-top-s.u-margin-bottom-s {{primary.address | default ('Lorem Ipsum')}}
                    a(href="tel:{{primary.telephoneOne|replace({' ': ''})}}").u-block {{primary.telephoneOne }}
                    a(href="tel:{{primary.telephoneTwo|replace({' ': ''})}}").u-block.u-margin-bottom-s {{primary.telephoneTwo }}
                    a(href="mailto:{{primary.email}}") {{primary.email}}
                    | {% endfor %}
                    | {% endif %}
    //-.heavy-bottom-border.heavy-top-border.u-max-m
        //- .u-padding.footer-link-width.u-max-xs
        
        //-     .u-flex.u-flex__space.u-padding-top-xs.u-padding-bottom-xs
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
        //-         a(href="{{siteUrl}}") Lorem
    .u-max-m.heavy-top-border
        .u-padding.u-padding-remove-left.u-padding-remove-right
            .u-flex.u-flex__space.u-flex__align-center.footer-bottom
                p {{ 'now' | date('Y') }} Mont a l’Abbe School
                .social-links
                    | {% if contact.twitter | length %}
                    a(href="{{contact.twitter}}")
                        img(src="{{siteUrl}}build/images/twitter.svg")
                    | {% endif %}
                    | {% if contact.instagram |length %}
                    a(href="{{contact.instagram}}")
                        img(src="{{siteUrl}}build/images/instagram.svg")
                    | {% endif %}
                    | {% if contact.facebook |length %}
                    a(href="{{contact.facebook}}")
                        img(src="{{siteUrl}}build/images/facebook.svg")
                    | {% endif %}
                .footer-right
                    a(href="").u-margin-right-s Lorem Ipsum
                    a(href="") Lorem Ipsum
