templates/_includes/_images/_image-link.html
<section class="u-max-xl js-menu-close"><div class="{% if pC.topPadding %}u-margin-top-l{% endif %}{%if pC.bottomPadding%} u-margin-bottom-l{% endif %}"><div class="row">{% for imageTextBlock in pC.block.all() %}
{% if loop.index % 2 == 0 %}<div class="col col--3-of-5 mobile-hide"><div style="background-image: url('{% for asset in imageTextBlock.image.all() %}{{asset.url}}{% endfor %}')" class="image-link-image u-background">                    </div></div><div class="col col--2-of-5 mobile-hide imageLinkTextPositionOutside imageLinkTextPositionOutsideRight"><div class="imageLinkTextPositionInside"><img src="{{siteUrl}}build/images/cards-stripe.svg" class="card-stripe"/>{% if imageTextBlock.heading | length %}<h2 class="blue-text u-margin-top u-margin-bottom">{{imageTextBlock.heading}}</h2>{% endif %}
{% if imageTextBlock.text %}<div class="font-medium freight-text blue-text">{{imageTextBlock.text}}</div>{% endif %}
{% if imageTextBlock.hyperLink.getUrl() %}<a href="{{imageTextBlock.hyperLink.getUrl()}}" class="callToAction u-margin-top call-light-blue">{{imageTextBlock.hyperLink.getCustomText()}} </a>{% endif %}</div></div><div class="col col--2-of-5 mobile-show"><div class="imageLinkTextPositioning"><img src="{{siteUrl}}build/images/cards-stripe.svg" class="card-stripe"/>{% if imageTextBlock.heading | length %}<h2 class="blue-text u-margin-top u-margin-bottom">{{imageTextBlock.heading}}</h2>{% endif %}
{% if imageTextBlock.text %}<div class="font-medium freight-text blue-text">{{imageTextBlock.text}}</div>{% endif %}
{% if imageTextBlock.hyperLink.getUrl() %}<a href="{{imageTextBlock.hyperLink.getUrl()}}" class="callToAction u-margin-top call-light-blue">{{imageTextBlock.hyperLink.getCustomText()}} </a>{% endif %}</div></div><div class="col col--3-of-5 mobile-show"><div style="background-image: url('{% for asset in imageTextBlock.image.all() %}{{asset.url}}{% endfor %}')" class="image-link-image u-background">                    </div></div>{% else %}<div class="col col--2-of-5 imageLinkTextPositionOutside"><div class="imageLinkTextPositionInside"><img src="{{siteUrl}}build/images/cards-stripe.svg" class="card-stripe"/>{% if imageTextBlock.heading | length %}<h2 class="blue-text u-margin-top u-margin-bottom">{{imageTextBlock.heading}}</h2>{% endif %}
{% if imageTextBlock.text %}<div class="font-medium freight-text blue-text">{{imageTextBlock.text}}</div>{% endif %}
{% if imageTextBlock.hyperLink.getUrl() %}<a href="{{imageTextBlock.hyperLink.getUrl()}}" class="callToAction u-margin-top call-light-blue">{{imageTextBlock.hyperLink.getCustomText()}} </a>{% endif %}</div></div><div class="col col--3-of-5"><div style="background-image: url('{% for asset in imageTextBlock.image.all() %}{{asset.url}}{% endfor %}')" class="image-link-image u-background">                </div></div>{% endif %}
{% endfor %}</div></div></section>

templates/_includes/_images/_image-link.jade
section.u-max-xl.js-menu-close
    div(class="{% if pC.topPadding %}u-margin-top-l{% endif %}{%if pC.bottomPadding%} u-margin-bottom-l{% endif %}")
        .row
            | {% for imageTextBlock in pC.block.all() %}
            | {% if loop.index % 2 == 0 %}
            .col.col--3-of-5.mobile-hide
                .image-link-image.u-background(style="background-image: url('{% for asset in imageTextBlock.image.all() %}{{asset.url}}{% endfor %}')")                     
            .col.col--2-of-5.mobile-hide.imageLinkTextPositionOutside.imageLinkTextPositionOutsideRight
                .imageLinkTextPositionInside
                    img(src="{{siteUrl}}build/images/cards-stripe.svg").card-stripe
                    | {% if imageTextBlock.heading | length %}
                    h2.blue-text.u-margin-top.u-margin-bottom {{imageTextBlock.heading}}
                    | {% endif %}
                    | {% if imageTextBlock.text %}
                    .font-medium.freight-text.blue-text {{imageTextBlock.text}}
                    | {% endif %}
                    | {% if imageTextBlock.hyperLink.getUrl() %}
                    a(href="{{imageTextBlock.hyperLink.getUrl()}}").callToAction.u-margin-top.call-light-blue {{imageTextBlock.hyperLink.getCustomText()}} 
                    | {% endif %}
            //- Switching order on mobile
            .col.col--2-of-5.mobile-show
                .imageLinkTextPositioning
                    img(src="{{siteUrl}}build/images/cards-stripe.svg").card-stripe
                    | {% if imageTextBlock.heading | length %}
                    h2.blue-text.u-margin-top.u-margin-bottom {{imageTextBlock.heading}}
                    | {% endif %}
                    | {% if imageTextBlock.text %}
                    .font-medium.freight-text.blue-text {{imageTextBlock.text}}
                    | {% endif %}
                    | {% if imageTextBlock.hyperLink.getUrl() %}
                    a(href="{{imageTextBlock.hyperLink.getUrl()}}").callToAction.u-margin-top.call-light-blue {{imageTextBlock.hyperLink.getCustomText()}} 
                    | {% endif %}
            .col.col--3-of-5.mobile-show
                .image-link-image.u-background(style="background-image: url('{% for asset in imageTextBlock.image.all() %}{{asset.url}}{% endfor %}')")                     
            
            | {% else %}
            .col.col--2-of-5.imageLinkTextPositionOutside
                .imageLinkTextPositionInside
                    img(src="{{siteUrl}}build/images/cards-stripe.svg").card-stripe
                    | {% if imageTextBlock.heading | length %}
                    h2.blue-text.u-margin-top.u-margin-bottom {{imageTextBlock.heading}}
                    | {% endif %}
                    | {% if imageTextBlock.text %}
                    .font-medium.freight-text.blue-text {{imageTextBlock.text}}
                    | {% endif %}
                    | {% if imageTextBlock.hyperLink.getUrl() %}
                    a(href="{{imageTextBlock.hyperLink.getUrl()}}").callToAction.u-margin-top.call-light-blue {{imageTextBlock.hyperLink.getCustomText()}} 
                    | {% endif %}
            .col.col--3-of-5
                .image-link-image.u-background(style="background-image: url('{% for asset in imageTextBlock.image.all() %}{{asset.url}}{% endfor %}')")                 
            | {% endif %}
            | {% endfor %}
