templates/_includes/_text/_one-col-heading-text.html
<section class="u-max-l js-menu-close"><div class="u-padding u-margin-top u-margin-bottom"><div class="row {% if pC.topPadding %}u-margin-top{% endif %}{%if pC.bottomPadding%} u-margin-bottom{% endif %}"><div class="col col--4-of-6 vm">{% if pC.subHeader | length %}<p>{{pC.subHeader}}</p>{% endif %}
{% if pC.header | length %}<h2 class="blue-text">{{pC.header}}</h2>{% endif %}
{% if pC.subText%}<div class="font-medium freight-text blue-text u-margin-top-s">{{pC.subText}}</div>{% endif %}<div class="u-margin-top">{% if pC.text | length %}
{{pC.text}}
{% endif %}</div></div><div class="col col--2-of-6 vm u-text-center u-mobile-left">{% include '_includes/_spinner/_spinnerLogo2.svg' %}</div></div></div></section>

templates/_includes/_text/_one-col-heading-text.jade
section.u-max-l.js-menu-close
    .u-padding.u-margin-top.u-margin-bottom
        .row(class="{% if pC.topPadding %}u-margin-top{% endif %}{%if pC.bottomPadding%} u-margin-bottom{% endif %}")
            .col.col--4-of-6.vm
                | {% if pC.subHeader | length %}
                p {{pC.subHeader}}
                | {% endif %}
                | {% if pC.header | length %}
                h2.blue-text {{pC.header}}
                | {% endif %}
                | {% if pC.subText%}
                .font-medium.freight-text.blue-text.u-margin-top-s {{pC.subText}}
                | {% endif %}
                .u-margin-top
                   | {% if pC.text | length %}
                   | {{pC.text}}
                   | {% endif %}
            .col.col--2-of-6.vm.u-text-center.u-mobile-left
                
                | {% include '_includes/_spinner/_spinnerLogo2.svg' %}
