templates/_includes/_text/_two-col-text.html
<section class="u-max-l js-menu-close"><div class="u-padding u-margin-top u-margin-bottom mobile-no-margin"><div class="row {% if pC.topPadding %}u-margin-top{% endif %}{%if pC.bottomPadding%} u-margin-bottom{% endif %}"><div class="col col--4-of-6 vm"> 
{% if pC.subHeader | length %}<p>{{pC.subHeader}}</p>{% endif %}
{% if pC.header | length %}<h2 class="blue-text">{{pC.header}}</h2>{% endif %}
{% if pC.subText%}<div class="font-medium freight-text blue-text u-margin-top-s">{{pC.subText}}</div>{% endif %}<div class="u-margin-top"><div class="row u-padding-top-xs"><div class="col col--1-of-2">{% if pC.leftColumn | length %}
{% for leftColumnContent in pC.leftColumn.all()  %}
{% if leftColumnContent.header | length %}<p class="freight-text blue-text font-sm-medium two-col-line">{{leftColumnContent.header}}</p>{% endif %}
{% if leftColumnContent.text | length %}<p class="two-col-paragraph">{{leftColumnContent.text}}</p>{% endif %}
{% endfor %}                                                       
{% endif %}</div><div class="col col--1-of-2">{% if pC.rightColumn | length %}
{% for rightColumnContent in pC.rightColumn.all() %}
{% if rightColumnContent.header | length %}<p class="freight-text blue-text font-sm-medium two-col-line">{{rightColumnContent.header}}</p>{% endif %}
{% if rightColumnContent.text | length %}<p class="two-col-paragraph">{{rightColumnContent.text}}</p>{% endif %}
{% endfor %}   
{% endif %}
{% if pC.hyperLink.getUrl() | length %}<a href="{{pC.hyperLink.getUrl()}}" class="callToAction">{{pC.hyperLink.getCustomText()}}</a>{% endif %}</div></div></div></div><div class="col col--2-of-6 vm u-text-center u-mobile-left">{% include '_includes/_spinner/_spinnerLogo4.svg' %}</div></div></div></section>

templates/_includes/_text/_two-col-text.jade
section.u-max-l.js-menu-close
    .u-padding.u-margin-top.u-margin-bottom.mobile-no-margin
        .row(class="{% if pC.topPadding %}u-margin-top{% endif %}{%if pC.bottomPadding%} u-margin-bottom{% endif %}")
            .col.col--4-of-6.vm 
                | {% if pC.subHeader | length %}
                p {{pC.subHeader}}
                | {% endif %}
                | {% if pC.header | length %}
                h2.blue-text {{pC.header}}
                | {% endif %}
                | {% if pC.subText%}
                .font-medium.freight-text.blue-text.u-margin-top-s {{pC.subText}}
                | {% endif %}
                .u-margin-top
                    .row.u-padding-top-xs
                        .col.col--1-of-2
                            | {% if pC.leftColumn | length %}
                            | {% for leftColumnContent in pC.leftColumn.all()  %}
                            | {% if leftColumnContent.header | length %}
                            p.freight-text.blue-text.font-sm-medium.two-col-line {{leftColumnContent.header}}
                            | {% endif %}
                            | {% if leftColumnContent.text | length %}
                            p.two-col-paragraph {{leftColumnContent.text}}
                            | {% endif %}
                            | {% endfor %}                                                       
                            | {% endif %}
                        .col.col--1-of-2
                            | {% if pC.rightColumn | length %}
                            | {% for rightColumnContent in pC.rightColumn.all() %}
                            | {% if rightColumnContent.header | length %}
                            p.freight-text.blue-text.font-sm-medium.two-col-line {{rightColumnContent.header}}
                            | {% endif %}
                            | {% if rightColumnContent.text | length %}
                            p.two-col-paragraph {{rightColumnContent.text}}
                            | {% endif %}
                            | {% endfor %}   
                            | {% endif %}
                            | {% if pC.hyperLink.getUrl() | length %}
                            a(href="{{pC.hyperLink.getUrl()}}").callToAction {{pC.hyperLink.getCustomText()}}
                            | {% endif %}
            .col.col--2-of-6.vm.u-text-center.u-mobile-left
                | {% include '_includes/_spinner/_spinnerLogo4.svg' %}
